{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macros %}

{% block title %}XenonSwift | Register{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Register</h1>
</div>
<div class="col-md-6">
    <form role="form" method="POST" action="">
        <div class="form-group">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        </div>
        {{macros.render_field(form.first_name, type='text', 
            help_text="First letter should be capitalized. Should contain only alphabets and spaces.")}}
        {{macros.render_field(form.last_name, type='text',
            help_text="First letter should be capitalized. Should contain only alphabets and spaces.")}}
        {{macros.render_field(form.username, type='text',
            help_text="First letter should be alphabet. Alphanumeric characters and underscore(_). Minimum length 6 digits.")}}
        {{macros.render_field(form.password, type='password',
            help_text="Alphanumberic characters and underscore(_). Minimum length 6 digits.")}}
        {{macros.render_field(form.password2, type='password')}}
        {{macros.render_field(form.email, type='email')}}
        <br>
        {{form.submit(class='btn btn-danger')}}
    </form>
</div>
{% endblock %}