{% extends "base.html" %}
{% block title %}
    XenonSwift | {{Container.get('name')}}
{% endblock %}

{% set path=Container.get('name') + '/' %}

{% block scripts %}
{{ super() }}
<script>
function showCheckBoxes()
{
    labelArray = document.getElementsByName("selectLabel")
    for (var i=0; i < labelArray.length; i++)
    {
        labelArray[i].style.display="inline";
    }

    document.getElementById("DeleteButtons").style.display="inline";
}

function hideCheckBoxes()
{
    labelArray = document.getElementsByName("selectLabel")
    for (var i=0; i < labelArray.length; i++)
    {
        labelArray[i].style.display="none";
    }

    document.getElementById("DeleteButtons").style.display="none";   
}
</script>
{% endblock %}

{% block topmenu %}
<li class="dropdown">
    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
        Create <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('swift.create_container') }}">Container</a>
        <li><a href="{{ url_for('swift.create_folder', path=path) }}">Folder</a></li>
    </ul>
</li>
<li><a href="{{ url_for('swift.upload', path=Container.get('name') + '/') }}">Upload</a></li>
<li class="dropdown">
    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
    More <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="javascript:void(0);" onclick="showCheckBoxes();">Multiple Delete</a></li>
    </ul>
</li>
{% endblock %}

{% block bread_crumbs %}
    <ul class="breadcrumb">
        <li><a href="{{url_for('swift.account')}}">Home</a></li>
        <li class="active">{{Container.get('name')}}</li>
    </ul>
{% endblock %}

{% block page_content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Container: {{Container.get('name')}}</h3>
        </div>
        {#
        <div class="row">
            <div class="col-md-3">
                <p><b>Total size (in MB): </b>{{'%0.3f' % Container.get('total_size')}}</p>
            </div>
            <div class="col-md-3"> 
            <p><b>Number of objects: </b>{{number_of_objects}}</p>
            </div>
        </div>
        #}

        <div class="panel-body">
            <form method="post" action="{{url_for('swift.bulk_delete', next=path)}}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div id="DeleteButtons" style="display:none;">
                <input type="submit" class="btn btn-danger" value="Delete All" />
                <input type="button" class="btn btn-default" value="Cancel" onclick="hideCheckBoxes();" />
                <br><br>
            </div>
            {% set number_of_objects=(folder_list|length) + (object_list|length) %}
            {% if number_of_objects %}
                <div class="row">
                {% set i = 0 %}
                {% for folder in folder_list %}
                    {% set folder_path = Container.get('name') + '/' + folder.get('subdir') %}
                    {% set folder_name = folder.get('subdir')[:-1] %}
                    {% include "swift/display_folder.html" %}
                    {% include "swift/folder_modal.html" %}
                {% endfor %}
                </div>
            
                <div class="row">
                {% for object in object_list %}
                    {% set object_path = Container.get('name') + '/' + object.get('name') %}
                    {% set object_name = object.get('name') %}
                    {% include "swift/display_object.html" %}
                    {% include "swift/object_modal.html" %}
                {% endfor %}
                </div>

            {% else %}
            <p>This container is empty.</p>
            {% endif %}
            </form>
        </div>
    </div>
{% endblock %}