<div class="col-md-2 col-sm-2 col-xs-5">
    <div class="thumbnail">
        <div class="bg-warning">
            <center>
            <label name="selectLabel" style="display:none";>
            <input value="{{object_path}}" type="checkbox" name="select_object_group" />
            </label>
            </center>
            <a href="{{url_for('swift.container', path=object_path)}}" target="_blank">
                <img src="{{url_for('static', filename='images/swift/file.png')}}">
            </a>
            <div class="caption">
                <center>
                <div class="btn-group">
                    <a href="{{url_for('swift.container', path=object_path)}}" target="_blank" >
                        {% if (object_name|length) > 7 %}
                            {{object_name[:8]}}..
                        {% else %}
                            {{object_name}}
                        {% endif %}
                    </a>
                    <a data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:void(0);" data-toggle="modal" data-target="{{'#%sDetails' % object.get('hash')}}">View Information</a></li>
                        <li><a href="{{url_for('swift.share', path=object_path)}}">Share Object</a></li>
                        <li><a href="javaScript:void(0);">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0);" data-toggle="modal" data-target="{{'#%sDelete' % object.get('hash')}}">Delete</a></li>
                    </ul>
                </div>
                </center>
            </div>
        </div>
    </div>
</div>