{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macros %}

{% block title %}XenonSwift | Upload{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
    function checkFile()
    {
        var extensions_not_allowed = ["action","apk","app","bat","bin","cmd","com","command","cpl","csh","exe","gadget","inf","ins","inx","ipa","isu","job","jse","ksh","lnk","msc","msi","msp","mst","osx","out","paf","pif","prg","ps1","reg","rgs","run","sct","shb","shs","u3p","vb","vbe","vbs","vbscript","workflow","ws","wsf"]
        
        input = document.getElementById('file');
        file = input.files[0];
        if (file.size > 1073741824)
        {
            alert('File size is larger than required.')
            return false
        }

        var extension = file.name.split('.').pop().toLowerCase();
        for (var i=0; i < extensions_not_allowed.length; i++)
        {
            if (extensions_not_allowed[i] === extension)
            {
                alert('Direct upload of this file is not allowed')
                return false
            }
        }
    }
</script>
{% endblock %}

{% block topmenu %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Create <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('swift.create_container') }}">Container</a>
    </ul>
</li>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Upload</h1>
</div>

<div class="col-md-6">
    {% if has_key %}
    <form role="form" id="upload_file" method="post" action='{{upload_path}}' enctype="multipart/form-data"
        onsubmit="return checkFile();">
        <div class="form-group">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        </div>
        <div class="form-group">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="redirect" value="{{redirect_path}}" />
            <input type="hidden" name="max_file_size" value="1073741824" />
            <input type="hidden" name="max_file_count" value="1" />
            <input type="hidden" name="expires" value="{{timestamp}}" />
            <input type="hidden" name="signature" value="{{hmackey}}" />
            <input type="hidden" name="x_detect_content_type" value="true" />
            <input type="hidden" name="transfer-encoding" value="chunked" />
        </div>
        
        <div class="form-group">
            <label for="file">Select a file</label>
            <input id="file" name="file" type="file" class="form-control" />
            <p class="help-block">File size should not be greater than 1 GB.<br>
            Direct upload of executable files is not allowed.</p>
        </div>
            <button id="submit" type="submit" class="btn btn-danger">Submit</button>
    </form>
    {% else %}
        <p>Please Set Key First!</p>
    {% endif %}
</div>
{% endblock %}